body {
	background-image: url('images/background.jpg');
	font-family: 'Roboto', sans-serif;
}
.container {
	margin: 5% 23% 5% 23%;
	background-color: white;
	padding: 50px 60px 50px 60px;
}
header {
}
header img {
	width: 100%;
}
header p {
	font-family: 'Lobster', cursive;
	font-size: 40px;
}
.tutorial-video iframe {
	margin-bottom: 40px;
	width: 100%;
	height: 370px;
}
.content .step {
	font-weight: 800;
}
.content .step-description {
	text-indent: 50px;
	line-height: 1.7;
}
.content .instructor {
	margin-top: 90px;
}