body { 
	background-image: url(background.jpg);
	margin-left: 25%;
}

.nav {
	background-color: cornsilk;
	margin: 7%;
	border: 3px dotted black;
	width: 50%;
}

.footer {
	background-color: #0ff;
	width: 200px;
	padding: 15px;
	border-radius: 15px;
	border: 1px solid black;
	text-align: center;
	margin-left: 7%;
}

